@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #ffffff; }

main {
  background: #251c3b;
  margin: 0; }

h4 {
  margin-top: 45px;
  text-align: center; }

::textarea {
  color: #000000; }

.sidemargins, .customcard__image {
  width: 100%;
  height: 100%; }

.boxshadow, .boxshadow .gallery__image {
  box-shadow: 5px 5px 15px 5px #000000; }
  .boxshadow:hover, .boxshadow .gallery__image:hover {
    transform: scale(1.4); }

.header {
  font-family: 'Montserrat', sans-serif; }

.header__logo {
  margin-left: 5%;
  height: 150px; }

.header__logo2 {
  height: 150px; }

.header__title {
  color: #6495ED;
  background-color: #000000;
  text-align: center; }
  .header__title h1 {
    display: none; }
  .header__title h2 {
    display: none; }

.nav-item:hover {
  transform: scale(1.1);
  background-color: #251c3b; }

.footer {
  padding: 7px;
  background-color: #000000;
  color: #ECE5C7;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border: 4px solid #101010;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap; }
  .footer__copyright {
    right: 0; }
  .footer a {
    padding-left: 5px;
    margin-top: 50px;
    color: #ECE5C7; }

.icon {
  height: 30px;
  margin-top: 2px; }

.footer__whatsaap {
  background-color: #00c800;
  height: 40px;
  width: 200px;
  padding-left: 15px; }

.footer__instagram {
  background-color: #92002c;
  height: 40px;
  width: 200px;
  padding-left: 15px; }

.footer__facebook {
  background-color: #000063;
  height: 40px;
  width: 200px;
  padding-left: 15px; }

form {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column;
  padding-bottom: 100px; }
  formbutton {
    background-color: #4CAF50;
    border: none;
    color: #ECE5C7;
    margin-top: 25px;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px; }

textarea select {
  color: #000000; }

.redes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px; }
  .redes a {
    color: #ECE5C7;
    text-decoration: none;
    font-weight: 700; }

.us {
  text-align: center;
  margin-top: 35px;
  padding-bottom: 45px; }
  .us h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    margin-bottom: 25px;
    text-align: center; }
  .us__photos {
    width: 20%;
    box-shadow: 5px 5px 15px 5px #000000; }
    .us__photos:hover {
      animation-name: hovercards;
      animation-duration: 0.3s;
      transform: scale(1.1);
      z-index: 3; }

.nosotros {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 30px; }

.nosotros__section1 {
  width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px; }
  .nosotros__section1 img {
    width: 80%;
    border-radius: 4px;
    box-shadow: 5px 5px 15px 5px #000000; }

.mapouter {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 45px; }
  .mapouter iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.roundborder, .footer__whatsaap, .footer__instagram, .footer__facebook, .customcards, .customcard, .customcard__footer, .customcard__image {
  border-radius: 8px; }

.hovercards:hover, .footer a:hover, .icon:hover, .customcard:hover {
  animation-name: hovercards;
  animation-duration: 0.3s;
  transform: scale(1.15);
  z-index: 3; }

.customcards {
  padding: 45px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 30px;
  font-family: 'Joan', sans-serif;
  text-align: center;
  background: rgba(20, 20, 34, 0.3); }

.customcard {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  box-shadow: 5px 7px 27px 5px #000000; }

.customcard__header {
  font-size: 18px; }

.customcard__image {
  object-fit: cover; }

.status-sold {
  background-color: #9b0000; }

.status-stock {
  background-color: #009b00; }

.section {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #B1BCE6; }
  .section h2 {
    padding-top: 35px;
    font-weight: bold; }
  .section p {
    padding-bottom: 15px; }

.why {
  display: flex;
  font-family: 'Joan', sans-serif;
  padding: 45px 4.2%; }
  .why .whycards {
    font-family: 'Montserrat', sans-serif;
    text-align: center; }

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.at-item {
  width: 100px;
  height: 100px;
  background-color: #ffe672;
  animation-name: wobble-hor-top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none; }

@keyframes wobble-hor-top {
  0% {
    transform: translateX(0%);
    transform-origin: 50% 50%; }
  15% {
    transform: translateX(-30px) rotate(6deg); }
  30% {
    transform: translateX(15px) rotate(-6deg); }
  45% {
    transform: translateX(-15px) rotate(3.6deg); }
  60% {
    transform: translateX(9px) rotate(-2.4deg); }
  75% {
    transform: translateX(-6px) rotate(1.2deg); }
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%; } }

@keyframes hovercards {
  0% {
    background-color: rgba(194, 165, 0, 0.336); }
  100% {
    background-color: rgba(0, 0, 0, 0.4); } }

.boxshadow, .boxshadow .gallery__image {
  box-shadow: 5px 5px 15px 5px #000000; }
  .boxshadow:hover, .boxshadow .gallery__image:hover {
    transform: scale(1.2); }
  .boxshadow .galeria {
    display: flex;
    padding-left: 6%;
    flex-wrap: wrap;
    padding-bottom: 25px; }

@media (max-width: 768px) {
  .header __logo {
    margin-left: 5%;
    height: 100px; }
  __logo2 {
    margin-left: 5%;
    height: 100px; } }

.cards {
  grid-template-columns: 50% 50%;
  grid-gap: 2px; }

.card {
  width: 90%; }

.why {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }
