.customcards {
	padding: 45px 20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 30px;
	font-family: 'Joan', sans-serif;
	text-align: center;
	background: rgba(20,20,34,0.3);
	border-radius: 9px;
   

}

.customcard {
	display: grid;
	grid-template-rows: max-content 200px 1fr;
	box-shadow: 5px 7px 27px 5px #000000;
	border-radius: 5px;
    &:hover{
        animation-name: hovercards;	
        animation-duration: 0.3s;
            transform: scale(1.1);
            z-index: 3;
        }
    h2 {
        font-size: 20px;}
    footer {
        background-color: #07b94b;
        border-radius: 5px;}
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;}
}

