.galeria {
	display: flex;
	padding-left: 6%;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

	.gallery__image {
	box-shadow: 5px 5px 15px 5px #000000;
    &:hover{
        transform: scale(1.4);
    }
}
