.header {
	font-family: 'Montserrat', sans-serif;
	&__logo {
		margin-left: 5%;
		height: 150px;
	}
	&__logo2 {
		height: 150px;
	}
	&__background {
		background-color: #000000;
		text-align: center;}
	
}

	.nav-item {
	&:hover{
		transform: scale(1.02);
		background-color:$bgBright;
	}
	font-weight: 600;
}

.footer {
	background-color: #000000 ;
	font-family: $Roboto;
	border: 15px solid #000000;
	display: flex;
	justify-content: space-around ;
    text-shadow: #6495ED;
	row-gap: 9px;
    a{
        padding-left: 5px;
        margin-top: 50px;
        color: $txWhite;
    }
}
.footer__copyright p{
	color: rgb(44, 44, 44);
	font-size: 21px;
}

	.icon {
	height: 30px;
	margin-top: 2px;
	@extend .hovercards
}

@mixin fondo ($backcolor, $linecolor, $fontcolor) {
    background-color: $backcolor;
	border: 2px solid $linecolor;
	height: 36px;
	width: 150px;
	padding-left: 15px;
	a{	color: $fontcolor;
		text-decoration: none;
		font-weight: 800;
	}
	@extend .roundborder;
	@extend .hovercards
}
	.logo img{
		width: 200px;
	}

.footer__whatsaap{
    @include fondo(rgb(0, 80, 0), (rgb(0, 37, 0)), (rgb(0, 212, 0)));
}
.footer__instagram{
    @include fondo(rgb(80, 0, 24), (rgb(32, 0, 10)), rgb(255, 0, 76));
}
.footer__facebook{
    @include fondo(rgb(0, 0, 61), (rgb(0, 0, 26)), (rgb(0, 0, 224)));
}

