.header {
	font-family: 'Montserrat', sans-serif;
}

	.header__logo {
	margin-left: 5%;
	height: 150px;
}

	.header__logo2 {
	height: 150px;
}

	

	.header__title {
	color: #6495ED ;
	background-color: #000000;
	text-align: center;

    h1 {
        display: none;
    }
    h2 {
        display: none;
    }
}

	.nav-item {
	&:hover{
		transform: scale(1.1);
		background-color:$bgBright;
	}
}