.header {
	font-family: 'Montserrat', sans-serif;
	&__logo {
		margin-left: 5%;
		height: 150px;
	}
	&__logo2 {
		height: 150px;
	}
	&__title {
		color: #6495ED ;
		background-color: #000000;
		text-align: center;}
	
}

	.nav-item {
	&:hover{
		transform: scale(1.02);
		background-color:$bgBright;
	}
	font-weight: 600;
}

.footer {
	background-color: #000000 ;
	font-family: 'Roboto', sans-serif;
	border: 15px solid #000000;
	display: flex;
	justify-content: space-around ;
    text-shadow: #6495ED;
	row-gap: 9px;

    &__copyright {
        right: 0;
		color: $footerColor;
    }
    a{
        padding-left: 5px;
        margin-top: 50px;
        color: $txWhite;
	@extend .hovercards
    }
}

	.icon {
	height: 30px;
	margin-top: 2px;
	@extend .hovercards
}

@mixin fondo ($backcolor) {
    background-color: $backcolor;
	height: 36px;
	width: 150px;
	padding-left: 15px;
	@extend .roundborder;
	@extend .hovercards
}

.footer__whatsaap{
    @include fondo(rgb(0, 200, 0));
}
.footer__instagram{
    @include fondo(rgb(146, 0, 44))
}
.footer__facebook{
    @include fondo(rgb(0, 0, 99));
}

