
    .section {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        background-color: #B1BCE6 ;
        h2 {
            padding-top: 35px;
            font-weight: bold;
        }
        p {
            padding-bottom: 15px;
        }
    }
