@media (max-width: 768px) {
    .header{
    &__logo2{
            height: 100px;
        }
    &__logo{
        display: none;
        }
    .why {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
           }
        }
    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        }
    .gallery__image{
        width: 90%;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .footer__facebook {
        margin-top: 15px;
      }
    .footer__copyright{
        margin-top: 7px;
    }
    .customcards{
        grid-template-columns: 50% 50%;
        grid-gap: 11px;
        row-gap: 23px;
        font-size: smaller;
        width: 96%;
    }
}