@media (max-width: 768px) {
    .header{
    &__logo2{
            height: 150px;
    }
    &__logo{
        display: none;
     }

    .why {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
           }
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }
    .gallery__image{
        width: 90%;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        &__facebook {
            margin-top: 15px;
          }
          &__copyright{
            margin-top: 7px;
        }
    }
    .customcards{
        grid-template-columns: 50% 50%;
        grid-gap: 7px;
        row-gap: 19px;
        width: 100%;
    }
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 46px;
    }
    h3{
        font-size: 36px;
    }
    h4{
        font-size: 36px;
    }
    .customcard__header h5{
        font-size: 31px;

    }
    p{
        font-size: 26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 

    .content p{
        font-size: 15px;
        color: rgb(0, 182, 238);
    }
    
    .firstP {
        font-weight: 200;
        font-size: 22px;
    }
}
