.why__h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: rgba(0,119,176,0.4);
}

	.why {
	background-color: rgba(0,119,176,0.4);
	display: flex;
	font-family: 'Joan', sans-serif;
	padding: 45px 4.2%;
}
